
.displayPlaylists {
    display: flex;
    flex-direction: column;
}

.displayPlaylists .addNewPlaylist {
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
}

.displayPlaylists .addNewPlaylist .button {
    background-color:darkorchid;
    color: white;
    border: solid white 1px;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.3rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}
.displayPlaylists .playlists .playlistItem {
    margin-bottom: 0.6rem;
    
}

